html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
body {
  overscroll-behavior: contain;
  overscroll-behavior-y: contain;
  overscroll-behavior-x: contain;
  touch-action: none;
}